---
const today = new Date();
---

<footer class="py-10 text-zinc-500 text-sm">
  <div class="justify-between mx-auto">
	<p class="py-1">
    Powered by <a href="https://astro.build" target="_blank" class="hover:text-zinc-800 transition transform duration-300">Astro</a> and <a
      href="https://vercel.com"
      target="_blank" class="hover:text-zinc-800 transition transform duration-300">Vercel</a
    >
</p>
    &copy; {today.getFullYear()} xingyu.page. All rights reserved.
  </div>
</footer>
