---
import HeaderLink from './HeaderLink.astro';

---

<header>

	<nav class="py-4">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/guestbook">Guestbook</HeaderLink>
	</nav>
</header>
