---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <body class="max-w-xl mx-auto px-4">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
